{#
SPDX-FileCopyrightText: 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Dayplanner ({{ dayplanner_identifier }})
{% for service in dayplanner_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in dayplanner_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ dayplanner_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ dayplanner_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ dayplanner_identifier }} \
      --log-driver=none \
      --network={{ dayplanner_container_network }} \
      {% if dayplanner_container_http_host_bind_port %}
      -p {{ dayplanner_container_http_host_bind_port }}:{{ dayplanner_container_http_port }} \
      {% endif %}
      --label-file={{ dayplanner_base_path }}/labels \
      {% for volume in dayplanner_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in dayplanner_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ dayplanner_container_image }}

{% for network in dayplanner_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ dayplanner_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ dayplanner_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ dayplanner_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ dayplanner_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ dayplanner_identifier }}

[Install]
WantedBy=multi-user.target
