{#
SPDX-FileCopyrightText: 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}
[Unit]
Description=Freifunk Chemnitz Mesh-Client ({{ ffc_mesh_client_identifier }})
{% for service in ffc_mesh_client_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in ffc_mesh_client_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ffc_mesh_client_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ffc_mesh_client_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ ffc_mesh_client_identifier }} \
      --network={{ ffc_mesh_client_container_network }} \
      {% if ffc_mesh_client_container_privileged %}
      --privileged \
      {% else %}
      {% for capability in ffc_mesh_client_container_capabilities %}
      --cap-add={{ capability }} \
      {% endfor %}
      {% for device in ffc_mesh_client_container_devices %}
      --device={{ device }} \
      {% endfor %}
      {% endif %}
      {% for key, value in ffc_mesh_client_container_sysctls.items() %}
      --sysctl {{ key }}={{ value }} \
      {% endfor %}
      {% for port in ffc_mesh_client_container_published_ports %}
      -p {{ port }} \
      {% endfor %}
      --env-file={{ ffc_mesh_client_base_path }}/env \
      --label-file={{ ffc_mesh_client_base_path }}/labels \
      {% for arg in ffc_mesh_client_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ ffc_mesh_client_container_image }}

{% for network in ffc_mesh_client_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ ffc_mesh_client_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ ffc_mesh_client_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ffc_mesh_client_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ffc_mesh_client_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ ffc_mesh_client_identifier }}

[Install]
WantedBy=multi-user.target
