{% if bambulab_spoolman_container_labels_traefik_enabled %}
traefik.enable=true

{% if bambulab_spoolman_container_labels_traefik_docker_network %}
traefik.docker.network={{ bambulab_spoolman_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if bambulab_spoolman_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ bambulab_spoolman_identifier }}-slashless-redirect.redirectregex.regex=^({{ bambulab_spoolman_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ bambulab_spoolman_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [bambulab_spoolman_identifier + '-slashless-redirect'] %}
{% endif %}

{% if bambulab_spoolman_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ bambulab_spoolman_identifier }}-strip-prefix.stripprefix.prefixes={{ bambulab_spoolman_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [bambulab_spoolman_identifier + '-strip-prefix'] %}
{% endif %}

{% if bambulab_spoolman_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in bambulab_spoolman_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ bambulab_spoolman_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [bambulab_spoolman_identifier + '-add-request-headers'] %}
{% endif %}

{% if bambulab_spoolman_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in bambulab_spoolman_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ bambulab_spoolman_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [bambulab_spoolman_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ bambulab_spoolman_identifier }}.rule={{ bambulab_spoolman_container_labels_traefik_rule }}
{% if bambulab_spoolman_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.priority={{ bambulab_spoolman_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.service={{ bambulab_spoolman_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.entrypoints={{ bambulab_spoolman_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.tls={{ bambulab_spoolman_container_labels_traefik_tls | to_json }}
{% if bambulab_spoolman_container_labels_traefik_tls %}
traefik.http.routers.{{ bambulab_spoolman_identifier }}.tls.certResolver={{ bambulab_spoolman_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ bambulab_spoolman_identifier }}.loadbalancer.server.port={{ bambulab_spoolman_container_http_port }}
{% endif %}

{% for arg in bambulab_spoolman_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
