---
- name: Fail if required DNS Records settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - dns_records_provider

- name: Fail if dns_records_provider is not valid
  ansible.builtin.fail:
    msg: >-
      The value of dns_records_provider ("{{ dns_records_provider }}") is invalid. Must be one of: hetzner, nsupdate.
  when: dns_records_provider is defined and dns_records_provider not in ["hetzner", "nsupdate"]
