{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara
SPDX-FileCopyrightText: 2025 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Spoolman ({{ bambulab_spoolman_identifier }})
{% for service in bambulab_spoolman_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in bambulab_spoolman_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ bambulab_spoolman_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ bambulab_spoolman_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ bambulab_spoolman_identifier }} \
      --log-driver=none \
      --network={{ bambulab_spoolman_container_network }} \
      {% if bambulab_spoolman_container_http_host_bind_port %}
      -p {{ bambulab_spoolman_container_http_host_bind_port }}:{{ bambulab_spoolman_container_http_port }} \
      {% endif %}
      --env-file={{ bambulab_spoolman_base_path }}/env \
      --label-file={{ bambulab_spoolman_base_path }}/labels \
      --mount type=bind,src={{ bambulab_spoolman_printer_path }},dst=/app/printers/ \
      {% for volume in bambulab_spoolman_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in bambulab_spoolman_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ bambulab_spoolman_container_image_self_build_name if bambulab_spoolman_container_image_self_build else bambulab_spoolman_container_image }}

{% for network in bambulab_spoolman_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ bambulab_spoolman_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ bambulab_spoolman_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ bambulab_spoolman_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ bambulab_spoolman_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ bambulab_spoolman_identifier }}

[Install]
WantedBy=multi-user.target
