{#
SPDX-FileCopyrightText: 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}
server {
    listen {{ ffc_hello_listen_port }} default_server;
    listen [::]:{{ ffc_hello_listen_port }} default_server;

    server_name _;

    location / {
        default_type text/plain;
        return 200 "{{ ffc_hello_response_body }}";
    }
}
